@font-face{
    font-family: Beary;
    src: url("../../assets/fonts/Beary-K7q4y.ttf")
}
@font-face{
    font-family: Zombie;
    src: url("../../assets/fonts/Zombies.ttf")
}
@font-face{
    font-family: Street;
    src: url("../../assets/fonts/street.otf")
}
@font-face{
    font-family: Simple;
    src: url("../../assets/fonts/simple.ttf")
}
.app-wrapper{
    background: #191919;  /* fallback for old browsers */
}
button{
    /* border: 0px; */
}
