
.intro{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.element{
    flex-grow: 2;
    font-family: Simple;
}
.right{
    text-align: center;
    color: #ffffff;
    align-items: center;
    height: 375px;
    overflow: hidden;
    background: #16161a;
}
.left{
    width: 30%;
    background: #16161a;
    height: 375px;
}
.bottom{
    width: 100%;
    background: #16161a;
    text-align: center;
    padding: 35px 0px 35px 0px;
}

/* .right::after{
    display: block;
    background: #fff;
    content: "";
    width: 100px;
    height: 102px;
} */
.stepOne {
    margin-bottom: 60px;
}

.stepOne img{
    width: 40%;
}
.textAnimation{
    position: relative;
    width: 100%;
    left: -20px;
    right: 0;
    height: 100%;    
}
.textAnimation .animationwrapper h2{
    font-family: 'Simple';
    font-size: 2em;
    letter-spacing: 15px;
}
.textAnimation .animationwrapper{
    position: relative;
    text-align: left;
    left: 0;
    right: 0;
    font-size: 12px;
    width: 250px;
    margin: auto;
    top: 45%;
    height: 5px;
}
.text-transition{
    margin-top: -35px;
}

.illustrationWrapper{
    position: relative;
    width: 50%;
    height: 100%;    
}
.padIntroContainer,.illustrationWrapper{
    display: inline-block;
}
.padIntroContainer{
    width: 100%;
    display: inline-block;
    position: relative;
    height: 100%;
}
.padIntroContainer .record{
    position: absolute;
    right: 0px;
    filter: hue-rotate(45deg);
    left: 0px;
    width: 80%;
    margin: auto;
    height: 102%;
}
.collaType{
    height: 33.3%;
    position: relative;
    text-align: center;
    background: #16161a;
    width: 100%;
    z-index: 2;
}
.nameOfInstrument{
    position: absolute;
    bottom: 0;
    top: 20px;
    color: #ffffff;
    width: 100%;
}
.arrow{
    position: absolute;
}
.purple{
    z-index: 1;
    left: 40%;
    top: 250px;
}
.green{
    left: 40%;
    top: 45px;
    z-index: 1;
}
.pink{
    z-index: 1;
    left: 30%;
    top: 170px;
}
.about{
    width: 100%;
    background: #303030;
    color: #000000;
    padding: 15px 25px 75px 25px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    overflow: hidden;
}
.imageHomeContainer img{
    width: 100%;
}
.imageHomeContainer{
    width: 25%;
    max-width: 350px;
    min-width: 180px;
    display: inline-block;
}
.aboutTextHomeContainer{
    width: 50%;
    padding: 0px 20px 0px 0px;
    font-family: Simple;
}

.needsAnimation {
    display: inline-block;
    margin-left: 28px;
    width: 60px;
    font-family: Simple;
  }
  
  .needsAnimation h2{
      background: #16161a;
      padding: 5px;
  }


@media (max-width: 1125px) {
    .pink{      
        left: 80px;
    }
    .right{
        width: 100%;
    }
    .animationwrapper{    
        width: 100%;
    }
    .textAnimation{
        left: 0;
    }    
    .padIntroContainer .record {
        width: 95%;
    }
    .stepOne img{
        width: 90%;
    }
    .needsAnimation {
        display: block;
        width: 100%;
        margin: 25px auto;
    }    
    
}    

@keyframes scroll {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    10% {
      transform: translateY(-50%);
      opacity: 0.9;
    }
    90% {
      transform: translateY(-50%);
      opacity: 0.9;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

